@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;700&display=swap');
*{
	box-sizing: border-box;
}
body{
	height: 100vh;
	display: flex;
	font-family: 'Poppins', sans-serif;
}
.accordions {
	max-width: 500px;
	box-shadow: 0 0 4px #f4f3f8;
	border-radius: .4rem;
	width: 90%;
	margin: auto;
	padding: 1rem;
}
.accordion{
	border-left: 8px solid transparent;
	border-radius: .3rem;
	padding: 1rem;
	overflow: hidden;
	margin: .3rem 0;
}
.accordion .accordion-header {
	display: flex;
	align-items: center;
	min-height: 3rem;
}
.accordion .accordion-header i{
	transition: transform 1s linear;
}
.accordion .accordion-header h3,
.accordion .accordion-body p{
	margin: 0;
}
.accordion .accordion-header h3{
	margin-left: .5rem;
	font-size: 1rem;
}
.accordion .accordion-body{
	padding-left: 1.5rem;
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s ease-in-out;
	transition-delay: 0;
}
.accordion.active .accordion-body{
	max-height: 1000px;
}
.accordion:nth-child(1) {
	background-color: #FEF7EF;
	border-left-color: #FBC283;
}

.accordion:nth-child(2) {
	background-color: #EEF0FD;
	border-left-color:#8490FA;
}

.accordion:nth-child(3) {
	background-color: #FEF0F0;
	border-left-color: #FC959E;
}

.accordion:nth-child(4) {
	background-color: #EDFBFE;
	border-left-color: #81D0FA;
}